* {
  padding: 0;
  font-family: "poppins";
}

/* navBar setion start */

.LetsTalkButton:hover {
  background-color: black !important;
  color: white !important;
}

/* navBar setion end */

/* topSection start */

h1 {
  font-weight: bold;
  position: relative;
}

.expert {
  position: absolute;
  right: 0;
  color: #6f77f1;
  border: 2px solid #6f77f1;
  padding: 0.3rem;
  rotate: -15deg;
  font-size: 3rem;
}

.zig-zag {
  top: 7rem;
  min-width: fit-content;
}

.womandiv {
  min-width: fit-content;
  /* right: 7rem; */
 /* left: 5rem; */
}


.blue-box {
  min-width: fit-content;
  top:1rem;
  left: 7rem;
}

.creativeTeamPerson1 {
  left: 2%;
}

.creativeTeamPerson2 {
  left: 17%;
}

.creativeTeamPerson3 {
  left: 34%;
}

.creativeTeamPerson4 {
  left: 51%;
}

.creativeTeamPlusIcon {
  left: 68%;
}

.creativeTeam {
  height: 15vh;
}

/* topSectionEnd */

/* websiteOptimisation section start */

.websiteOptimisationTesting {
  background: white;
  background-image: url(/IMAGES/4.png);
  background-repeat: no-repeat;
  background-position: right;
}

.websiteOptimisationTesting:hover,
.websiteOptimisationTarget:hover,
.websiteOptimisationContent:hover,
.websiteOptimisationResearch:hover {
  border-bottom: 2px solid #6f77f1;
}

.websiteOptimisationTarget {
  background: white;
  background-image: url(/IMAGES/3.png);
  background-repeat: no-repeat;
  background-position: right;
}

.websiteOptimisationResearch {
  background: white;
  background-image: url(/IMAGES/1.png);
  background-repeat: no-repeat;
  background-position: right;
}

.websiteOptimisationContent {
  background: white;
  background: url(/IMAGES/2.png) no-repeat;
  background-position: right;
  background-repeat: no-repeat;
}

.websiteOptimisationContinous {
  background-image: url(/IMAGES/Ellipse\ 26.png);
  background-repeat: no-repeat;
  background-position: center;
}

.websiteOptimisationSearch {
  background-image: url(/IMAGES/Ellipse\ 23.png);
  background-repeat: no-repeat;
  background-position: center;
}
.websiteOptimisationTargetAnalysis {
  background-image: url(/IMAGES/Ellipse\ 25.png);
  background-repeat: no-repeat;
  background-position: center;
}
.websiteOptimisationContentOptimisation {
  background-image: url(/IMAGES/Ellipse\ 24.png);
  background-repeat: no-repeat;
  background-position: center;
}

.blueBackGround {
  background-image: url(/IMAGES/Ellipse\ 28.png);
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain;
}

/* websiteOptimisation section end */

/* businessSolution section start */

.businessSolution {
  background-color: rgba(242, 242, 242, 0.3);
  background-image: url(/IMAGES/Vector\ 17.png), url(/IMAGES/Vector\ 18.png);
  background-repeat: no-repeat;
}

/* businessSolution section end */

/* businessGrowth section start */

.businessGrowthVectorIcon {
  background-image: url(/IMAGES/Outline/Status/Rectangle\ 923.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.businessGrowthLightIcon {
  background-image: url(/IMAGES/Iconly/Light/Outline/Status/Rectangle\ 923.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.businessGrowthTagIcon {
  background-image: url(/IMAGES/Outline/Status/Outline/Status/Outline/Status/Rectangle\ 923.png);
  background-repeat: no-repeat;
  background-size: contain;
}

/* businessGrowth section end */

/*  websiteCost section start */

.websiteCostPlans:hover {
  background-color: #6f77f1 !important;
  color: white;
  /* scale: 1.08; */
}

.websiteCostPlans button:hover {
  background-color: yellow;
  color: black;
}

/*  websiteCost section end */

/* teamMembers section start */

.JohnDoe {
  background-image: url(/IMAGES/member2bg.png);
  background-repeat: no-repeat;
}

.DougNorm {
  background-image: url(/IMAGES/member4bg.png);
  background-repeat: no-repeat;
}

/* teamMembers section end */

.hoverEffectShadow:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
